<a href="https://colab.research.google.com/github/ehdtjr/Data-Science/blob/main/Python_%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
strVal = 'data science'               
nVal = 12345                          
fVal = 1.2                            
lVal = ['data', 'science']            
dVal = {'lecture' : 'data science'}   
bVal = True

In [21]:
# 기본적인 주석

In [ ]:
'''
이런 형태의 주석도 많이 사용
'''

In [ ]:
strVal

In [ ]:
nVal

In [ ]:
fVal

In [ ]:
IVal

In [ ]:
dVal

In [ ]:
bVal

In [ ]:
print('strVal : ', strVal)
print('nVal : ', nVal)
print('fVal : ', fVal)
print('lVal : ', lVal)
print('dVal : ', dVal)
print('bVal : ', bVal)

In [ ]:
print('strVal : ', type(strVal))
print('nVal : ', type(nVal))
print('fVal : ', type(fVal))
print('lVal : ', type(lVal))
print('dVal : ', type(dVal))
print('bVal : ', type(bVal))

In [5]:
nVal = 16                        
fVal = 3.14

In [ ]:
print('10진수 표현 : ', nVal)       
print('2진수 표현 : ', bin(nVal))  
print('8진수 표현 : ', oct(nVal))  
print('16진수 표현 : ', hex(nVal))

In [7]:
btVal = True                           
bfVal = False

In [ ]:
btVal = TRUE                          
bfVal = FALSE

In [ ]:
btVal = true                          
bfVal = false

In [8]:
10 == 11

False

In [ ]:
10 != 11

In [ ]:
10 >= 11

In [ ]:
10 <= 11

In [ ]:
10 > 11

In [ ]:
10 < 11

In [ ]:
nBig = 100
nSmall = 10

In [ ]:
print(nBig == nSmall)
print(nBig != nSmall)
print(nBig >= nSmall)
print(nBig <= nSmall)
print(nBig > nSmall)
print(nBig < nSmall)

In [ ]:
print(nBig =< nSmall)

In [ ]:
print(nBig => nSmall)

In [ ]:
strData = 'data'              
strSci = "Science"

In [ ]:
strLecture = strData + strSci

In [ ]:
strLecture

In [ ]:
strLecture = strData +" "+ strSci
strLecture

In [ ]:
strLecture.split()

In [ ]:
lSeperate = strLecture.split()

In [ ]:
type(lSeperate)

In [11]:
strHello = "안녕하세요. 반갑습니다."

In [ ]:
strHello.find("반갑")

In [ ]:
strHello.find("hello")

In [ ]:
"반갑" in strHello

In [ ]:
strHello.replace('.', '?')

In [ ]:
strHello.replace('.', '?')              
strHello.replace("하세요", "하셔유")

In [ ]:
strHello

In [ ]:
strNewHello = strHello.replace('.', '?')                    
strNewHello = strNewHello.replace("하세요", "하셔유")       
strNewHello

In [ ]:
strHello.strip('반갑습니다.')

In [ ]:
strHello

In [ ]:
lnData = [1,2,3,4,5]   
print(lnData)
print('type : ', type(lnData))

In [ ]:
print(lnData[0])    
print(lnData[3])

In [ ]:
lnData[0] = lnData[4]   
print(lnData)

In [ ]:
print(lnData[2:4])

In [ ]:
lnData = [1,2,3,4,5]
lstrData=['a', 'b', 'c']

lnData + lstrData

In [ ]:
lnData.append(10)   
lnData

In [ ]:
lnData.insert(0, 'python') 
lnData

In [ ]:
lnData.remove('python')     
lnData

In [ ]:
del lnData[5]             
lnData

In [ ]:
lnData

In [ ]:
lnData.pop(0)    
lnData

In [ ]:
lnData.pop()    
lnData

In [ ]:
lnData.clear()  
lnData

In [ ]:
tVal = ("사과", "딸기", "바나나", "토마토", "키위")

print(tVal)
print(type(tVal))

In [ ]:
tVal[0] = "포도"

In [ ]:
tData = ( 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)
tData.count(1)

In [ ]:
len(tVal)

In [ ]:
len(tData)

In [ ]:
print(tData[2:5])

In [ ]:
tTuple = tVal+ tData
print(tTuple)

In [ ]:
tData * 2

In [ ]:
tData

In [ ]:
tData2 = tData * 2
print(tData2)

In [ ]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal * 2
print("tVal memory = ", hex(id(tVal)))
print(tVal)

In [ ]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal + tVal
print("tVal memory = ", hex(id(tVal)))
print(tVal)

In [ ]:
sVal = {1, 2, 3, 4, 5}
print(sVal)
print(type(sVal))

In [ ]:
sVal[1:2]

In [ ]:
sVal.add(100)
print(sVal)

In [ ]:
sVal.update([200, 300])
print(sVal)

In [ ]:
sVal.remove(200)
print(sVal)

In [ ]:
sVal.clear()
print(sVal)

In [ ]:
sVal = {100, 200, 300, 400, 500}
sData = {"a", "b", "c", "c", 100, 300}
print(sVal)
print(sData)

In [ ]:
sVal.intersection(sData)

In [ ]:
sVal.difference(sData)

In [ ]:
sVal - sData

In [ ]:
sVal.union(sData)

In [ ]:
sVal + sData

In [ ]:
sVal.symmetric_difference(sData)

In [ ]:
dVal = {
    'name' : '이컴공',
    'email' : 'computer@hoseo.edu',
    'address' : '충남 아산시'
}
print(dVal)
print(type(dVal))

In [ ]:
dData = {
    "사과" : 300, 
    "포도" : 200, 
    "배" : 500,
    "키위" : 100
}

In [ ]:
print(dData["배"])

In [ ]:
dData.get("배")

In [ ]:
dData["딸기"] = 100
print(dData)

In [ ]:
dData.pop("사과")

In [ ]:
dData

In [ ]:
dData.pop()

In [ ]:
sorted(dData)

In [ ]:
sorted(dData.values())

In [ ]:
dData

In [18]:
def f(x):  
  return x + 10

In [19]:
f(2)

12